<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <style>
    body {
      background-image: url("https://i.pinimg.com/originals/0c/c2/6c/0cc26cdc0f4c378fb83a25777a06f254.jpg");
    }
  </style>
  <body>
    <h1>YuGiOh!</h1>
    <p>
      Welcome to the YuGiOh Cards Website!
    </p>
    <form method="GET" action="/cards">
      <button class="homebutton">
        Show All Cards!
      </button>
    </form>
    <form method="GET" action="/myCollection">
      <button class="homebutton">My Collection</button>
    </form>
  </body>
</html>
