body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: burlywood;
}

a {
  color: #00b7ff;
}

#outerimage {
  display: flex;
  justify-content: center;
}

#image {
  flex-direction: row;
  padding: 5px;
}

img {
  max-width: 250px;
}

img:hover {
  animation: bigger 1s ease forwards;
}

@keyframes bigger {
  from {
    max-width: 250px;
  }
  to {
    max-width: 450px;
  }
}
