<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>My Collection</h1>
    <p>These are the cards you have saved in your collection!</p>
   

    </div>
    <!-- </td>
    </tr> -->
  </body>
</html>
